/* Error: expected more input.
 *    ,
 * 40 | /*=====================FIN DE BLOQUE OFERTAS*============================/
 *    |                                                                           ^
 *    '
 *   sass\index\_bloqueOfertas.scss 40:75  @import
 *   sass\Style.scss 5:8                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected more input.\a    \2577 \a 40 \2502  /*=====================FIN DE BLOQUE OFERTAS*============================/\a    \2502                                                                            ^\a    \2575 \a   sass\\index\\_bloqueOfertas.scss 40:75  @import\a   sass\\Style.scss 5:8                   root stylesheet";
}
