/*==========================INICIO FOOTER=====================*/
.bg-footer{
    background-color: #494F50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto';
    height: auto;
    .logoFooter img{
        height: 115px;
        padding: 5px 10px;
        transition: all 0.5s;
    }
    .logoFooter img:hover{
        transform: scale(1.3);
    }
    
    .links{
        margin: 15px;
        font-family: 'Roboto';
        .df-links{
            display: block;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-left: 0;
            li a{
                color: #ddd;
                transition: all 0.5s;
            }
            li a:hover{
                color: #ce7d35;
                transform: scale(1.3) !important;
            }
        }
    }
    .redes img {
        height: 50px;
        padding: 5px 5px;
        transition: all 0.5s;
    }
    .redes img:hover{
        transform: scale(1.3);
    }
}

/*=======================FIN DEL FOOTER================================*/
