/*===================RESET CSS========================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a , li {
    font-style:none;
    text-decoration: none !important;
    list-style: none;
}
