
@import"resetCSS";
@import"headerNav";
@import"mainPrincipal";
@import"index/bloqueOfertas";
@import"bebidas/estiloBebidas";
@import"comoComprar/estiloComoComp";
@import"contacto/estiloContacto";
@import"conocenos/estiloConocenos";
@import"footer";

/*=====================FUENTES===================================*/
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Kalam&family=Luckiest+Guy&family=Roboto+Slab:wght@100;200&family=Roboto:ital,wght@0,100;0,400;1,100;1,300&family=Solway:wght@800&family=Yanone+Kaffeesatz&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Kalam&family=Luckiest+Guy&family=Roboto+Slab:wght@200;300&family=Roboto:ital,wght@0,100;0,400;1,100;1,300&family=Solway:wght@800&family=Yanone+Kaffeesatz&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
/*=========================FIN DE FUENTES==================================*/

/*Responsive*/
/*====================ESTILO MAIN RESPONSIVE=========================*/
@media(max-width:990px){
    .banner{
        background-size: auto;
        max-width: 100%;
        padding-top: 15px;
    }
}

@media(max-width:768px){
    .banner{
        background-size: cover;
        max-width: 100%;
        margin: 0;
        .titulos h1{
            font-size: 40px;
        } 
        .titulos h2{
        font-size: 40px;
        }
    }
}
@media (max-width:575px){
    .banner{
        background-size: 100%;
        max-width: 100%;
        min-height: 70vh;
        .titulos h1{
        font-size: 35px;
        }
        .titulos h2{
        font-size: 35px;
        }
    }
}  

@media(max-width:370px){
    .banner{
        background-size: cover;
        max-width: 100%;
        margin: 0;
        min-height: 70vh;
        .titulos h1{
            font-size: 15px;
        }
        .titulos h2{
            font-size: 15px;
        }
    }
}
/*======================FIN ESTILO RESPONSIVE MAIN====================================*/
/*=======================ESTILOS PAGE BEBIDAS: SIST RESPONSIVO ========================*/
@media (max-width:768px) {
    .table{
        border:0px;
    }
    .table caption{
        font-size: 20px;
    }
    .table thead{
        display: none;
    }
    .table tr{
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td{
        font-size: 12px;
    }
    .table td{
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table td:last-child{
        border-bottom:0px;
    }
    .table td::before{
        content: attr(data-label);
        text-transform: uppercase;
        float: left;
    }
}
/*===============FIN ESTILO RESPONSIVE DE PAGE BEBIDA=================*/
/*MEDIA DE FORMULARIO CONTACTO*/
@media(max-width:494px){
    .contenidoForm{
        width: min-content;
        padding: 20px 5px;
    }
    .formulario{
        width: min-content;
        padding: 0 0 15px 0;
    }
}
/*-----------------------------------*/
/*=======ESTILO RESPONSIVE: CONOCENOS*/
@media(max-width:720px){
    .carousel-item{
        .d-block{
            background-size: cover !important;
        }
    }
}



/*=====================================*/
/*=================INICIO ESTILOS FOOTER:SIST RESPONSIVO==================*/
@media (max-width:768px){
    .logoFooter img{
        height: 70px;   
    }
    .redes{
        height: 50px;
    }
    .df-links {
        font-size: 10px;
    }
}
@media (max-width:425px){
    .bg-footer{
        align-items: center;
        height:auto;
        display: flex;
        flex-direction: column;
    }
    .bg-footer .logoFooter img{
        height: 80px;
    }
    .bg-footer .redes{
        height: 50px;
        font-size: 20px;
    }
    .bg-footer .df-links li {
        flex-direction: column;
        text-align: center;
        font-size: 16px;
    }
}
/*======================================================================*/