/*===================INICIO PAGE: COMO COMPRAR?=================*/

.containerConsulta{
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    background-color:#92B3AF;
    width: 100%;
}
#accordionExample{
    height: 100%;
    margin: 60px;
    font-size: 19px;
}
.containerConsulta h1{
    margin-top: 15px;
}

/*===================FIN PAGE: COMO COMPRAR?========================*/