.df-conocenos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(188deg, rgba(84,181,182,1) 1%, rgba(61,110,110,1) 42%, rgba(42,51,50,1) 88%);;
    .df-carouse{
        width: 100vh;
        .carousel-item{
            .d-block{
                width: 100% !important;
            }
        }
    }
}