/*============================INICIO DE BLOQUE OFERTAS==================================*/

#contenedorFlex{
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding:40px;
    flex-wrap: wrap;
    background-color: #2A3332;
    .contenedorItems{
        display: flex;
        width: 280px;
        height: 350px;
        background-color:#4F615F;
        align-items: center;
        align-content: space-around;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px 20px 20px 20px;
        transition: all 0.5s;
        img{
            width: 180px;
            height: 200px;
            object-fit:contain;    
        }
        .informacion{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap:8px;
            p:first-child{
                font-family: 'Roboto';
                font-size: 18px;
                color:white;
                font-weight: 400;
            }
            .precio{
                font-size: 15px;
                font-weight: 550;
                color:white;
            }
            .btnItems{
                background-color:#1D3330;
                font-family: 'Roboto';
                font-size: 17px;
                font-weight: 400;
                cursor: pointer;
                width: 200px;
                height: auto;
                border-radius: 10px;
                border: none;
            }
            .btnItems:hover{
                background-color:whitesmoke;
            }
        }
    }    
    .contenedorItems:hover{
        background-color: #77A19C;
        box-shadow: 0 0 10px #666;
        scale: 1.05;
    }    
}



